#root {
  --root-padding:50px;

  width:calc(100vw - (var(--root-padding) * 2));
  height:calc(100vh - (var(--root-padding) * 2));

  background-color: rgb(26, 31, 30);

  padding:var(--root-padding);
}