.left{
    float:left;
}

.leftEnd{
    float:left;
    clear:right;
}

.interactible{
    cursor:pointer;
    transition-duration:100ms;
}

.interactible:hover{
    transform: translate(50px, 0px);
}

.FantasyText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}