#MainContentFrame {
    display:flex;
    flex-direction: column;
    
    --margin: 75px;
    --padding: 25px;

    width: calc(100% - var(--margin) * 2 - var(--padding) * 2);
    height: calc(100% - var(--margin) * 2 - var(--padding) * 2);

    margin:var(--margin);
    padding:var(--padding);

    font-size: 20px;

    border-style: double;
    border-color: darkorange;
    color: darkorange;
}

.transition {
    display:flex;
    flex-direction: column;

    width:100%;
    height:100%;
}

.transitionEnter {
    opacity: 0;
}

.transitionEnterActive {
    opacity: 1;
    transition: opacity 300ms;
}

.transitionExit {
    opacity: 1;
}

.transitionExitActive {
    opacity: 0;
    transition: opacity 300ms;
}